@using BashMaistoriBG.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <li class="">
        <a href="">Здравейте @User.Identity?.Name!</a>
    </li>
    <li class="">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Излез</button>
        </form>
    </li>
}
else
{
    <li class="">
        <a class="" asp-area="Identity" asp-page="/Account/Register">Регистрирай се</a>
    </li>
    <li class="">
        <a class="" asp-area="Identity" asp-page="/Account/Login">Влез</a>
    </li>
}
