@{
    ViewData["Title"] = "Опции на ръководителя";
}

<div class="adminPanel">
    <h1 class="adminHeading">Опции на ръководителя</h1>
    <div class="adminOperations">
            <a asp-area="Admin" asp-controller="Admin" asp-action="UsersList" class="adminBtn btn">Лист с потребители</a>
            <a asp-area="Admin" asp-controller="Admin" asp-action="AddSpecialty" class="adminBtn btn">Добави специалност</a>
            <a asp-area="Admin" asp-controller="Admin" asp-action="ListSpecialties" class="adminBtn btn">Лист със специалности</a>
    </div>
</div>

