@model BashMaistoriBG.Data.Models.Specialty

@{
    ViewData["Title"] = "Редактирай специалност";
}

<h1 class="row" style="margin-top:100px;">Редактирай специалност</h1>

<hr />
<div class="row" style="margin-bottom:200px;">
    <div class="col-md-4">
        <form asp-action="EditSpecialty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Име</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Редактирай" class="btn btn-primary" style="background-color:#ff7607; border:none;" />
                <a class="btn btn-primary" asp-action="ListSpecialties" asp-controller="Admin">Обратно в списъка</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
