@{
    ViewData["Title"] = "За нас";
}

<section class="page-header padding">
    <div class="container">
        <div class="page-content text-center">
            <h2>За нас</h2>
        </div>
    </div>
</section>
<section class="about-section padding">
    <div class="container">
        <div class="row about-wrap">
            <div class="col-lg-6 sm-padding">
                <div class="about-content wow fadeInLeft">
                    <h2>Ние сме специалисти в тази област от 1984 г.</h2>
                    <p>Ние сме ангажирани с изграждането на устойчиво бъдеще чрез насърчаване на духа на сътрудничество, който създава изключителни преживявания, балансирани взаимоотношения и среда, изградена от общността. Строителството не е просто работа. Това е нашата страст. С всеки проект, който предприемаме, ние поставяме високо летвата и осигуряваме най-добрата индустрия.</p>
                </div>
            </div>
            <div class="col-lg-6 sm-padding">
                <ul class="about-promo">
                    <li class="about-promo-item wow fadeInUp">
                        <i class="flaticon-factory"></i>
                        <div>
                            <h3>Професионална отговорност</h3>
                            <p>Ние се целим да изградим устойчиво бъдеще чрез насърчаване на духа на сътрудничество</p>
                        </div>
                    </li>
                    <li class="about-promo-item wow fadeInUp" data-wow-delay="300ms">
                        <i class="flaticon-worker"></i>
                        <div>
                            <h3>Отдадени на нашите клиенти</h3>
                            <p>Вслушваме се в нашите клиенти, което създава силни връзки между работниците и клиентите</p>
                        </div>
                    </li>
                    <li class="about-promo-item wow fadeInUp" data-wow-delay="500ms">
                        <i class="flaticon-gear"></i>
                        <div>
                            <h3>Изключителни услуги</h3>
                            <p>Строителството не е просто работа. С всеки проект, който предприемаме, ние поставяме високо летвата и осигуряваме най-добрата индустрия</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="work-pro-section padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="work-pro-item text-center">
                    <span class="number">1</span>
                    <div class="number-line"></div>
                    <h3>Планиране и проучване</h3>
                    <p>Изработва се подробен план преди начало на работа</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="work-pro-item text-center">
                    <span class="number">2</span>
                    <div class="number-line"></div>
                    <h3>Дизайн и идеи</h3>
                    <p>Професионалистите от фирма "Рион" прецизно изработват дизайна и разглеждат идеите.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="work-pro-item text-center">
                    <span class="number">3</span>
                    <div class="number-line"></div>
                    <h3>Специализиране на проекти</h3>
                    <p>Фирма "Рион" разполага с множество квалифицирани работници във всякакви области</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="work-pro-item text-center">
                    <span class="number">4</span>
                    <h3>Крайни резултати</h3>
                    <p>Безброй доволни клиенти и изградени множество добри взаимотношения</p>
                </div>
            </div>
        </div>
    </div>
</section>
