@{
    ViewData["Title"] = "Контакти";
}

<section class="contact-section bg-grey padding">
    <div class="dots"></div>
    <div class="container">
        <div class="contact-wrap d-flex align-items-center row">
            <div class="col-md-6 padding-15">
                <div class="contact-info">
                    <h2>Свържи се с нас!</h2>
                    <p>Нашата архитектура е на различно ниво. Създадени през 1984, ние сме фирма, собственост на служители, която следва демократичен процес на проектиране, който цени приноса на всеки.</p>
                    <h3>Ул. В.Благоева 10 <br>Велико Търново, ВТ 5000</h3>
                    <h4><span>Email:</span> darka.2004@abv.bg <br> <span>Phone:</span> +359 884 96 58 46 <br></h4>
                </div>
            </div>
        </div>
    </div>
</section>