@{
    ViewData["Title"] = "Новини";
}

<section class="blog-section padding">
        <div class="container">
            <div class="blog-wrap row">
                <div class="col-lg-8 sm-padding">
                    <div class="row">
                        <div class="col-lg-12 padding-15">
                            <div class="blog-item box-shadow">
                                <div class="blog-thumb">
                                    <img src="~/img/post-1.jpg" alt="post">
                                    <span class="category"><a href="">Модерна архитектура</a></span>
                                </div>
                                <div class="blog-content">
                                    <h3><a href="">Минималистичен тренд в модерната архитектура 2023</a></h3>
                                    <p>„Архитектурата в най-висша степен е колективно творчество. В това е нейната най-голяма сила и нейната трудност.“
                                        Мисълта е на Феликс Хаас. Тази мъдра мисъл безспорно формулира една извечна истина - архитектурният проект е плод на колективен ум
                                        и колективно творчество. Бих казал, че архитектът е като диригент на оркестър. 
                                        Както диригентът от нестройните звуци на всички отделни
                                        инструменти извлича красива хармония, наречена музика, така и архитектът от професионализма на всички специалности,
                                        участващи в инвестиционното проектиране, извлича хармония и красота, наречена архитектура, или, както казва Шилер, застинала музика.</p>                           
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 padding-15">
                            <div class="blog-item box-shadow">
                                <div class="blog-thumb">
                                    <img src="~/img/post-3.jpg" alt="post">
                                    <span class="category"><a href="">Дизайн</a></span>
                                </div>
                                <div class="blog-content">
                                    <h3><a href="">Параметризмът в архитектурата и дизайна</a></h3>
                                    <p>Параметризмът (от англ.  parametricism ) е направление в архитектурата и дизайна от началото на XXI век. 
                                        Произходът на параметризма се свързва с творчеството на немския инженер и архитект Фрай Ото, който е един от първите, 
                                        които използват метода на „търсене на форма“ за проектиране чрез симулация на физически процеси. Навлизането на цифровите технологии и програмирането в 
                                        архитектурата оказват огромно влияние върху работата на много авангардни архитекти, които започват активно да използват компютърни програми за проектиране в 
                                        работата си.Природата често служи за вдъхновение на архитектите и дизайнерите, а компютърните технологии им предоставят инструменти за анализ и симулиране на 
                                        сложността, наблюдавана в природата.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 padding-15">
                            <div class="blog-item box-shadow">
                                <div class="blog-thumb">
                                    <img src="~/img/post-2.jpg" alt="post">
                                    <span class="category"><a href="#">Образование</a></span>
                                </div>
                                <div class="blog-content">
                                    <h3><a href="">Интериорен дизайн</a></h3>
                                    <p>Интериорният дизайн (вътрешното оформление или вътрешно обзавеждане) е наука за архитектурното и художествено оформление
                                        на вътрешното пространство на сградите и помещенията в тях, което осигурява на човека най-благоприятна среда за работа и почивка.
                                        Интериорният дизайн е синтез от практически и художествени идеи, и решения, които целят да подобрят условията за обитаване
                                        на човека в сградите в цялостно завършена естетическа форма. Интериорният дизайн е сравнително нова професия и заради това
                                        разбиранията и съответно определенията за нея се различават в зависимост от развитието ѝ в дадена страна.</p>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>